//Font
$font-choice: 'Merriweather Sans', sans-serif;
$second-font: 'Open Sans';
$font-color-prime: #219A7B;


//Colors
$color-prime:  #1B414C;
$color-second: #23637B;
$color-footer: #272425;
$bg-color: #E1F5E8;
$color-CTA: #F2EB03;





